.map-container {
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.add-friend-btn {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    bottom: 6em;
    font-weight: 900 !important;
}

.hangout-btn {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    bottom: 2em;
    background-color: #5F01FF !important;
    border-color: transparent !important;
    font-weight: 1000 !important;
}

.person-icon {
    color: rgba(0, 0, 0, 0.1);
}